 <div class="egreso">
   <h2 class="egreso_titulo">egresos</h2>

   <div *ngFor="let egreso of egresos;let i = index">
     <div class="elemento limpiarEstilos">
       <div class="elemento_descripcion">{{egreso.descripcionEgreso}}</div>
       <div class="right limpiarEstilos">
         <div class="elemento_valor">+ {{egreso.getValorUsd()}}</div>
         <div class="elemento_porcentaje">{{this.getPorcentaje(egreso.valorEgreso)}}</div>
         <div class="elemento_eliminar">
           <button class="elemento_eliminar--btn">
             <i (click)="eliminarEgreso(egreso)" class="ion-ios-close-outline"></i>
           </button>
         </div>
       </div>
     </div>
   </div>

 </div>

